<nav class="navbar navbar-light bg-dark static-top" th:fragment="navbar">
    <div class="container" style="justify-content: space-between">
        <div>
            <a class="navbar-brand" href="#!">
                <img src="https://igos.edxops.com/images/edxops.foundation.png" alt="igos-logo" style="height: 2.8rem;">
            </a>
        </div>
        <div>
            <a class="btn btn-dark" href="#signup">Home</a>
            <input type="text" placeholder="Searching" aria-label="Searching"
                   aria-describedby="basic-addon1" size="30" maxlength="100" value="TV">
            <a class="btn btn-secondary" style="height: 35px; line-height: 10px" href="#">Search Now! »</a>
            <a class="btn btn-dark" href="#"> <img src="https://igos.edxops.com/icons/cart-solid.png" alt="igos-logo">
                SHOPPING CART (1)</a>
        </div>

    </div>
</nav>
