<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>iGOS™ :: Global Online Shopping System</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-dark static-top">
    <div class="container" style="justify-content: space-between">
        <div>
            <a class="navbar-brand" href="#!">
                <img src="https://igos.edxops.com/images/edxops.foundation.png" alt="igos-logo" style="height: 2.8rem;">
            </a>
        </div>
        <div>
            <a class="btn btn-dark" href="#signup">Home</a>
            <input type="text" placeholder="Searching" aria-label="Searching"
                   aria-describedby="basic-addon1" size="30" maxlength="100" value="TV">
            <a class="btn btn-secondary" style="height: 35px; line-height: 10px" href="#">Search Now! »</a>
            <a class="btn btn-dark" href="#"> <img src="https://igos.edxops.com/icons/cart-solid.png" alt="igos-logo" > SHOPPING CART (1)</a>
        </div>

    </div>
</nav>
<!-- Masthead-->
<header style="padding-top: 30px; padding-bottom: 15px">
    <div class="container position-relative">
        <div class="row">
            <div class="col-xl-3" style="border-right: 1px dotted gray">
                <nav class="navbar navbar-light bg-white">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img class="edxops-icon-menu" src="https://igos.edxops.com/icons/menu/epm.png"
                                                              alt="menu-item">Cell Phone, Accessories</a>
                        <a class="navbar-brand" href="#"><img class="edxops-icon-menu" src="https://igos.edxops.com/icons/menu/epm.png"
                                                              alt="menu-item">Laptop, Tablet, Desktop PC</a>
                        <a class="navbar-brand" href="#"><img class="edxops-icon-menu" src="https://igos.edxops.com/icons/menu/epm.png"
                                                              alt="menu-item">Monitor, Printer, Fax Machine</a>
                        <a class="navbar-brand" href="#"><img class="edxops-icon-menu" src="https://igos.edxops.com/icons/menu/epm.png"
                                                              alt="menu-item">Navbar</a>
                    </div>
                </nav>

                <div class="card-body" style="background-color: #b1a374; margin: .5rem .5rem !important; border-radius: 5.5px">
                    <p>
                        Open 8h-21h Monday-Sunday <br>
                        Hotline: +1-123-82345678 <br>
                        WhatsApp: +1-123-82345678 <br>
                    </p>
                </div>
            </div>
            <div class="col-xl-5">
                <img src="https://igos.edxops.com/images/promotions/september-03.jpg" alt="background-image" style="width:100%;padding:0px;">
                <div class="row" style="text-align: center !important;">
                    <div class="col-xl-3"><a href="#" style="font-size: 14.4px; color: #0a67a3; padding: 5px">Buy Galaxy Note10+ <br> Discount $100!</a></div>
                    <div class="col-xl-3"><a href="#" style="font-size: 14.4px; color: #0a67a3; padding: 5px ">Buy Galaxy Note10+ <br> Discount $100!</a></div>
                    <div class="col-xl-3"><a href="#" style="font-size: 14.4px; color: #0a67a3; padding: 5px ">Buy Galaxy Note10+ <br> Discount $100!</a></div>
                    <div class="col-xl-3"><a href="#" style="font-size: 14.4px; color: #0a67a3; padding: 5px ">Buy Galaxy Note10+ <br> Discount $100!</a></div>
                </div>
            </div>
            <div class="col-xl-4" style="border-left: 1px dotted gray">
                <div class="row">
                    <div class="col-xl-12"><img src="https://igos.edxops.com/images/rangeinch.png" alt="tivi-image" style="width:100%;padding-left:10px"></div>
                    <div class="col-xl-12">
                        <div class="row">
                            <p>How many inch you want to find?</p>
                            <div class="col-xl-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Default checkbox
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                    <label class="form-check-label" for="flexCheckDefault1">
                                        Default checkbox
                                    </label>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                    <label class="form-check-label" for="flexCheckDefault2">
                                        Default checkbox
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                    <label class="form-check-label" for="flexCheckDefault3">
                                        Default checkbox
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12" >
                        <div class="row">
                            <p>What is manufactor you want to find?</p>
                            <div class="col-xl-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                    <label class="form-check-label" for="flexCheckDefault4">
                                        SONY TV
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                    <label class="form-check-label" for="flexCheckDefault5">
                                        PANASONIC TV
                                    </label>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
                                    <label class="form-check-label" for="flexCheckDefault6">
                                        SAMSUNG TV
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault7">
                                    <label class="form-check-label" for="flexCheckDefault7">
                                        LG TV
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-xl-12">
                        <button type="button" class="btn btn-primary">Search Now!</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid-->
<section style="padding-top: 30px; padding-bottom: 15px;border-top: 1px dotted gray ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://igos.edxops.com/images/photos/1.jpg" class="card-img-top photo-logo-size" alt="product-image">
                    <div class="card-body">
                        <h5 class="card-title">Smart Tivi QLED SONY 4K 85 inch QA85Q70T.</h5>
                        <p class="card-text">
                            Sales off: 8,950,000Y <br>
                            Price: 17,900,000Y-50% <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2021. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
